[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.5.2"
brotlipy = "==0.7.0"
certifi = "==2021.10.8"

[dev-packages]

[requires]
python_version = "3.10"
