{% extends 'base.html' %}


{% block main%}

    <div class="card-body table-responsive p-0">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>کاربر</th>
            <th>نام درس</th>
            <th>تاریخ ایجاد </th>
            <th>توضیحات</th>
          </tr>
        </thead>
        <tbody>
            {% for post in object_list %}
             
                  <tr>
                    <td>{{post.user}}</td>
                    <td>{{post.title}}</td>
                    <td>{{post.created}}</td>
                    <td>{{post.description}}</td> 
                    <td>{{post.test_int}}</td>              

                  </tr>
              
            {% endfor %}
        </tbody>
      </table>
    </div>

{% endblock %}